#dropdownHover {
  line-height: 100%;
  cursor: pointer;
}

#dropdownContents {
  display: none;
}

.dropdownContent {
  position: relative;
  background-color: #f9f9f9;

  min-width: 50%;

  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 8px 12px;
  z-index: 1;
  list-style-type: none;
}

.dropdownContent:hover {
  background-color: blue;
  color: white;
  border: 1px solid black;
}

#title {
  text-align: center;

  background-color: white;
  border: 1px solid black;

  font-family: "Josefin Sans", sans-serif;
  font-size: 2.25em;

  padding: 2%;
  display: grid;
  grid-template-columns: auto auto auto;
  height: 128px;
}

#plus {
  height: 128px;
  border: 1px solid black;
  
  float: right;
}

#spendingLogHeader {
  text-align: center;
  font-size: 1.2em;
  width: 45vw;
}

#filter {
  margin-left: 3vw;
  margin-right: 3vw;
}

#sort {
  font-size: 1em;
  font-family: "Josefin Sans", sans-serif;

  width: 30vw;

  vertical-align: bottom;
  line-height: 20px;
}

#spendingLog {
  display: grid;
  grid-template-columns: auto;

  margin: 3%;
}

.transaction {
  margin: 1%;
  margin-bottom: 3%;
  padding: 2%;

  background-color: white;
  border: 1px solid black;


  font-size: 2em;
  font-family: "Josefin Sans", sans-serif;

  line-height: 25%;
}

.costAssociated {
  float: right;

  font-size: 1.2em;
}

.itemPurchased {
  float: left;
  font-size: 1.2em;
}

#addTransactionWindow {
  padding-left: 5%;
  padding-right: 5%;

  background-color: white;
  border: 2px solid black;
  font-size: 2em;
  position: absolute;
  top: 0;
  left: 15vw;
  right: 15vw;

  display: none;
}

#addTransHeader {
  font-family: "Teko", sans-serif;
  font-size: 2.5em;
  line-height: 50%;
}

.addTransFieldHeader {
  font-family: "Teko", sans-serif;
  font-size: 1.5em;
  line-height: 50%;
}

.addTransFieldInput {
  font-size: 1.125em;

  line-height: 50%;
}

.button {;
  padding: 6%;
  
  background-color: white;
  border: 1px solid black;
  color: black;

  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  font-size: 1.5em;
  font-family: "Josefin Sans", sans-serif;

  cursor: pointer;
}

#buttonField {
  display: grid;
  grid-template-columns: auto auto;
  
  margin-top: 6%;
  margin-bottom: 6%;  
}

#cancel {}

#nonTransWindow {}

.darken {
  filter: brightness(20%);
}

.properDropdown {
  width: 90%;
  height: 50%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);

  font-size: 1.25em;
  overflow-x: scroll;
}

#AccountsButton:hover {
  cursor: pointer;
}

