#dropdownHover {
  line-height: 100%;
  cursor: pointer;
}

#dropdownContents {
  display: none;
}

.dropdownContent {
  position: relative;
  background-color: #f9f9f9;

  min-width: 50%;
  
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 8px 12px;
  z-index: 1;
  list-style-type: none;
}

.dropdownContent:hover {
  background-color: blue;
  color: white;
  border: 1px solid black;
}

#title {
  text-align: center;

  background-color: white;
  border: 1px solid black;

  font-family: "Josefin Sans", sans-serif;
  font-size: 2.25em;  

  padding: 2%;
  display: grid;
  grid-template-columns: auto auto auto;
  height: 128px;
}

#plus {
  height: 128px;
  border: 1px solid black;
  
  margin-right: 1vw;
}

#spendingLogHeader {
text-align: center;
  font-size: 1.2em;
  margin-left: 1vw;
  margin-right: 1vw;
}

#filter {
}

#sort {
  font-size: 1em;
  font-family: "Josefin Sans", sans-serif;

  width: 15vw;

  vertical-align: bottom;
  line-height: 20px;
}

#spendingLog {
  display: grid;
  grid-template-columns: auto;

  margin: 3%;
}

.transaction {
  margin: 1%;
  margin-bottom: 3%;
  padding: 2%;

  background-color: white;
  border: 1px solid black;


  font-size: 2em;
  font-family: "Josefin Sans", sans-serif;

  line-height: 25%;
}

.costAssociated {
 float: right; 

  font-size: 1.2em;
}

.itemPurchased {
  float: left; 
  font-size: 1.2em;
}

#addTransactionWindow {
  background-color: white;
  border: 3px solid black;
  font-size: 2em;
  padding: 5vw;
  position: absolute;
  left: 15vw;
  right: 15vw;
  
  top: -8vw;
  
  display: none;
}

#addTransHeader {
  font-family: "Teko", sans-serif;
  font-size: 3em;
}

.addTransFieldHeader {
  font-family: "Teko", sans-serif;
  font-size: 2.25em;
  line-height: 50%;
}

.addTransFieldInput {
  font-size: 1.125em;
  
  line-height: 50%;
}

.button {
  padding: 6%;
  display: inline-block;

  background-color: white;
  border: 1px solid black;
  color: black;

  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  font-size: 1.5em;
  font-family: "Josefin Sans", sans-serif;

  cursor: pointer;
}

#buttonField {
  display: grid;
  grid-template-columns: auto auto;
}


.properDropdown {
  width: 90%;
  height: 50%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  
  font-size: 1.25em;
  overflow-x: scroll;
}
