@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Lobster|Roboto|Staatliches|Teko&display=swap');

html, body {
  margin: 0px;
  padding: 0px;

  font-family: 'Roboto', sans-serif;
}

#container {
  display: grid;
}


#header {
  background-image: url("../images/MP3_Skepta-Pure_Water_Single_2018_iTunes_Plus_AAC_M4A.jpg");
  background-size: cover;

  filter: drop-shadow(0px 10px 5px blue);
  border: 1px solid black;
}

#blueFiltered {
  background-color: #0055FF;
  filter: opacity(70%);
  display: grid;
  height: 100%;
}

#logo {
  float: left;
  width: 256px;
  margin-top: -2.25vh;
}

#burgerMenu {
  float: right;
}

#settingsMenu {
  float: right;
}

.topBarImage {
  width: 150px;
  margin: 10px;
}

#topBar {
  margin-bottom: -3vw;
}

.blackenImage {
  filter: brightness(0%);
}

#navBar {
  background-color: white;
  border: 1px solid black;
}

#navBar ul li {
  list-style: none;
  float: left;

  font-size: 2em;
}

#navBarList {
  display: grid;
  grid-template-columns: auto auto auto;
  text-align: center;
}

#titleText {
  text-align: center;

  color: white;

  font-size: 5em;
  font-family: 'Josefin Sans', sans-serif;

  margin-top: 0px;
}

#welcomeText {
  text-align: center;

  color: white;

  font-size: 3em;
  font-family: 'Josefin Sans', sans-serif;

  margin-top: -64px;
}

a:hover {
  color: blue;
}

.parentElement {
  position: relative;
  height: 100%;
  width: 100%;
}

.childElement {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  filter: opacity(80%);
  z-index: -1;
  background-color: blue;
}

#headerContainer {
  display: grid;
}

#footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;

  min-height: 0%;

  filter: drop-shadow(-5px -15px 25px blue);

  background-color: blue;
  border: 1px solid black;

  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  text-align: center;

  font-size: 2em;
  font-family: 'Josefin Sans', sans-serif;
}

@media screen and (max-width: 2560px) {
  .responsiveText {
    font-size: 1em;
  }
}

@media screen and (max-width: 1920px) {
  .responsiveText {
    font-size: 0.8em;
  }
}

@media screen and (max-width: 778px) {
  .responsiveText {
    font-size: 0.7em;
  }
}

@media screen and (max-width: 300px) {
  .responsiveText {
   font-size: 0.6em; 
  }
}

@media screen and (max-width: 2560px) {
  .navImages {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 64px;
    padding-top: 5%;
  }
}

@media screen and (max-width: 1920px) {
  .navImages {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 48px;
    padding-top: 5%;
  }
}

@media screen and (max-width: 778px) {
  .navImages {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 36px;
    padding-top: 5%;
  }
}

@media screen and (max-width: 300px) {
  .navImages {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 24px;
    padding-top: 5%;
  }
}

#content {
  min-height: 100vh;
  width: 100%;
  position: absolute;

  background: linear-gradient(to bottom, blue, #710cFF) fixed;
  border: 1px solid black;
}

#introductions {
  background-color: white;
  border: 1px solid black;

  padding-left: 3%;
  line-height: 2em;
}

.heading {
  font-size: 4em;
  font-family: "Teko", sans-serif;
}

.commonText {
  font-size: 2em;
}

#budgetsButton {
  display: block;
}

#transactionsButton {
  display: block;
}

#accountsButton {

}
